.templateProduct {
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: $tertiary-color;
    text-align: center;
    width: 25%;
    margin: 2.5%;
}

.templateProduct__image {
    overflow: hidden;
    padding-top: 14%;
    width: 70%;
}

