/*=     Main     =*/
main {
    @include flex_row_center_text_align_center_align_items_center;
    flex-wrap: wrap;
    padding: 12%;
}


/*  Presentation    */
.presentation {
    &__title {
        width: 90%;
        text-align: center;
        margin: 15% 5%;
    }
}

.slogan {
    text-align: center;
    margin: 10% 5%;
    width: 90%;
}

/*  Template    */

.templateProduct {
    &__container {
        background-color: $tertiary-color;
        margin: 15% 0;
        height: 37rem;
    }
    &__image {
        margin: 5% 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__title {
        &__product {
            margin: 1rem;
        }
    }
    &__description {
        margin: 10% 5%;
        font-weight: 600;
    }
    &__price {
        font-size: 1.2rem!important;
        margin: 2.5rem;
        &__product {
            margin: 1rem;
        }
    }
    &__option {
        &__product {
            font-size: 1.2rem;
        }
        &__product {
            margin: 1rem;
        }
        &__couleur {
            font-size: 1.3rem;
            margin: 0.5rem;
        }
    }
    &__quantite {
        font-size: 1.2rem;
        &__nombre {
            font-size: 1.3rem;
            margin: 0.1rem;
        }
    }
    &__product {
        width: 100%!important;
    }
    &__link {
        &__product {
            @include flex_column_center_text_align_center_align_items_center;
        }
        &__add {
            margin: 1rem 0rem 0.5rem 0rem;
            padding: 0.3rem;
        }
        &__home {
            margin: 0.5rem 0rem 1rem 0rem;
            padding: 0.3rem;
        }
    }
}

.containerPanier {
    @include flex_column_center_text_align_center_align_items_center;
    margin: 2rem 0!important;
    &__description {
        margin: 1rem;
    }
    &__prix {
        @include flex_column_center_text_align_center_align_items_center;
    }
    & a {
        margin: 1rem;
        width: 100%;
    }
}

.affichagePrixTotalPanier {
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

.templateFormulaire__container {
    @include flex_column_center_text_align_center_align_items_center;
    font-size: 1.4rem;
    & label {
        margin: 0.5rem;
    }
    & input {
        margin: 0.5rem;
        width: 100%;
        font-size: 1.4rem;
    }
    & textarea {
        margin: 0.5rem;
        width: 100%;
        font-size: 1.4rem;
    }
}

/***************************************************************************/
/*==    Grand Smartphone + 420px    ==*/
@media (min-width: $big-smartphone) {
    /*  Presentation    */
    .slogan {
        font-weight: 700;
    }

    /*  Template    */
    .templateProduct {
        &__container {
            height: 41rem;
        }
        &__description {
            font-size: 1.2rem;
        }
    }

    .containerPanier {
        font-size: 1.3rem;
    }
    
}

/***************************************************************************/
/*==    Petite Tablette + 600px    ==*/
@media (min-width: $small-tablette) {

    /*  Template    */
    .templateProduct {
        &__container {
            height: 50rem;
        }
        &__image {
            &__product {
                width: 90%!important;
                padding: 0!important;
            }
        }
        &__description {
            font-size: 1.4rem;
            &__product {
            margin: 1.5rem;
            }
        }
        &__price {
            &__product {
                font-size: 1.5rem!important;
            }
        }

    }

    .containerPanier {
        font-size: 1.5rem;
    }
}

/***************************************************************************/
/*==    Tablette + 768px   ==*/
@media (min-width: $tablette) {

    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2rem;
            margin: 5% 5%;
            font-weight: 800;
        }
    }

    .slogan {
        margin: 15% 5%;
        font-size: 1.4rem;
    }

    /*  Template    */

    .templateProduct {
        &__container {
            background-color: $tertiary-color;
            margin: 10% 0;
            height: 60rem;
        }
        &__title {
            font-size: 1.8rem;
        }
        &__description {
            margin: 4% 5%;
            font-size: 1.7rem;
        }
        &__price {
            font-size: 1.8rem!important;
            margin: 2rem!important;
        }
    }
}

/***************************************************************************/
/*==    Grande Tablette + 1024px     ==*/
@media (min-width: $big-tablette) {
    
    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2rem;
        }
    }

    .slogan {
        margin: 5% 5%;
        font-size: 1.2rem;
    }

    /*  Template    */

    .templateProduct {
        &__image {
            height: 10rem;
            &__product {
                width: 100%!important;
                height: 100%!important;
            }
        }
        &__title {
            &__product {
                height: 2rem;
                width: 100%;
                font-size: 1.4rem;
            }
        }
        &__description {
            &__product {
                width: 60%;
                font-size: 1.2rem;
                margin: 2% 8%;
            }
        }
        &__container {
            width: 40%;
            margin: 5%;
            height: 44rem;
        }
        &__price {
            font-size: 1.4rem!important;
            margin: 2rem!important;
            &__product {
                text-align: center;
                align-items: center;
                display: flex;
                margin: 2%!important;
                width: 12%!important;
                font-size: 1.5rem!important;
            }
        }
        &__option {
            &__product {
                margin: 0;
                width: 50%;
            }
        }
        &__quantite {
            width: 50%;
        }
        &__link {
            &__add, &__home {
                margin: 1rem;
                width: 20%;
            }
            &__product {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
            }
        }
        &__product {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .containerPanier {
        font-size: 1.8rem;
        margin: 2rem 0 !important;
    }
}

/***************************************************************************/
/*==    Grand Desktop + 1400px   ==*/
@media (min-width: $big-desktop) {
    
    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2.5rem;
            margin: 0.5% 5%;
        }
    }

    .slogan {
        font-size: 1.8rem;
    }

    /*  Template    */

    .templateProduct {
        &__image {
            width: 100%!important;
            height: 20rem;
            &__product {
            width: 80%!important;
            }
        }
        &__container {
            height: 55rem;
        }
        &__product {
            margin: 1% 8%!important;
        }
        &__price {
            font-size: 1.7rem!important;
            margin: 3rem!important;
            &__product {
            font-size: 1.8rem!important;
            margin: 1%!important;
            }
        }
    }
}
    

