/*=     Main     =*/
main {
    @include flex_row_center_text_align_center_align_items_center;
    flex-wrap: wrap;
    padding: 12%;
}


/*  Presentation    */
.presentation {
    &__title {
        width: 90%;
        text-align: center;
        margin: 15% 5%;
    }
}

.slogan {
    text-align: center;
    margin: 15% 5%;
    width: 90%;
}

/*  Template    */

.templateProduct {
    &__container {
        background-color: $tertiary-color;
        margin: 15% 0;
    }
    &__image {
        margin: 5% 0;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    &__description {
        margin: 10% 5%;
        font-weight: 600;
    }
}

/*==    Grand Smartphone    ==*/
@media (min-width: $big-smartphone) {
    .slogan {
        font-weight: 700;
    }
}

/*==    Tablette    ==*/
@media (min-width: $tablette) {

    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2rem;
            margin: 5% 5%;
            font-weight: 800;
        }
    }

    .slogan {
        margin: 15% 5%;
        font-size: 1.4rem;
    }

    /*  Template    */

    .templateProduct {
        &__container {
            background-color: $tertiary-color;
            margin: 10% 0;
        }
        &__title {
            font-size: 1.8rem;
        }
        &__description {
            margin: 7% 5%;
            font-size: 1.5rem;
        }
        &__price {
            font-size: 1.8rem;
        }
    }
}

/*==    Grande Tablette    ==*/
@media (min-width: $big-tablette) {
    
    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2rem;
        }
    }

    .slogan {
        margin: 5% 5%;
        font-size: 1.2rem;
    }

    /*  Template    */

    .templateProduct {
        &__image {
            height: 10rem;
        }
        &__container {
            width: 40%;
            margin: 5%;
            height: 40rem;
        }
    }
}
    
/*==    Grand Desktop   ==*/
@media (min-width: $big-desktop) {
    
    /*  Presentation    */

    .presentation {
        &__title {
            font-size: 2.5rem;
            margin: 0.5% 5%;
        }
    }

    .slogan {
        font-size: 1.8rem;
    }

    /*  Template    */

    .templateProduct {
        &__image {
            height: 20rem;
        }
        &__container {
            height: 55rem;
        }
    }
}
    

