/*  Presentation    */
.presentation {
    &__title {
        width: 70%;
        margin: 15%;
        text-align: center;
    }
}

.slogan {
    text-align: center;
    width: 60%;
    margin: 5% 20%;
}

.filtres{
    width: 60%;
    margin: 5% 20%;
    @include flex_row_space_around;
    &__container {
        background-color: $tertiary-color;
    }
}