@charset "UTF-8";
/* Polices */
/*  Couleurs de la Charte    */
/*  Autres couleurs */
/*  Ombres  */
/*  Animations  */
/*  Responsive Breakpoint  */
/** Style général du site */
body {
  font-family: "Gill Sans", sans-serif, "Roboto", sans-serif, "Helvetica Neue", sans-serif;
}

.btn {
  background-color: #f0f0c5;
  color: black;
  margin: 3rem;
  padding: 4% 10%;
  font-family: monospace;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  border: none;
  font-size: 1.3rem;
}

.btn:hover {
  background: #fafaee;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
}

header a {
  width: 30%;
  color: black;
}

header a:hover {
  color: #fafaee;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  width: 100%;
}

/*==    Tablette    ==*/
@media (min-width: 768px) {
  header {
    padding: 0.5rem;
  }
  header a {
    font-size: 1.3rem;
  }
}

/*==    Desktop    ==*/
@media (min-width: 1400px) {
  header a {
    font-size: 1.5rem;
  }
}

/*=     Main     =*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12%;
}

/*  Presentation    */
.presentation__title {
  width: 90%;
  text-align: center;
  margin: 15% 5%;
}

.slogan {
  text-align: center;
  margin: 10% 5%;
  width: 90%;
}

/*  Template    */
.templateProduct__container {
  background-color: #99E2D0;
  margin: 15% 0;
  height: 37rem;
}

.templateProduct__image {
  margin: 5% 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.templateProduct__title__product {
  margin: 1rem;
}

.templateProduct__description {
  margin: 10% 5%;
  font-weight: 600;
}

.templateProduct__price {
  font-size: 1.2rem !important;
  margin: 2.5rem;
}

.templateProduct__price__product {
  margin: 1rem;
}

.templateProduct__option__product {
  font-size: 1.2rem;
}

.templateProduct__option__product {
  margin: 1rem;
}

.templateProduct__option__couleur {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.templateProduct__quantite {
  font-size: 1.2rem;
}

.templateProduct__quantite__nombre {
  font-size: 1.3rem;
  margin: 0.1rem;
}

.templateProduct__product {
  width: 100% !important;
}

.templateProduct__link__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.templateProduct__link__add {
  margin: 1rem 0rem 0.5rem 0rem;
  padding: 0.3rem;
}

.templateProduct__link__home {
  margin: 0.5rem 0rem 1rem 0rem;
  padding: 0.3rem;
}

/***************************************************************************/
/*==    Grand Smartphone + 420px    ==*/
@media (min-width: 420px) {
  /*  Presentation    */
  .slogan {
    font-weight: 700;
  }
  /*  Template    */
  .templateProduct__container {
    height: 41rem;
  }
  .templateProduct__description {
    font-size: 1.2rem;
  }
}

/***************************************************************************/
/*==    Petite Tablette + 600px    ==*/
@media (min-width: 600px) {
  /*  Template    */
  .templateProduct__container {
    height: 50rem;
  }
  .templateProduct__image__product {
    width: 90% !important;
    padding: 0 !important;
  }
  .templateProduct__description {
    font-size: 1.4rem;
  }
  .templateProduct__description__product {
    margin: 1.5rem;
  }
  .templateProduct__price__product {
    font-size: 1.5rem !important;
  }
}

/***************************************************************************/
/*==    Tablette + 768px   ==*/
@media (min-width: 768px) {
  /*  Presentation    */
  .presentation__title {
    font-size: 2rem;
    margin: 5% 5%;
    font-weight: 800;
  }
  .slogan {
    margin: 15% 5%;
    font-size: 1.4rem;
  }
  /*  Template    */
  .templateProduct__container {
    background-color: #99E2D0;
    margin: 10% 0;
    height: 60rem;
  }
  .templateProduct__title {
    font-size: 1.8rem;
  }
  .templateProduct__description {
    margin: 4% 5%;
    font-size: 1.7rem;
  }
  .templateProduct__price {
    font-size: 1.8rem !important;
    margin: 2rem !important;
  }
}

/***************************************************************************/
/*==    Grande Tablette + 1024px     ==*/
@media (min-width: 1024px) {
  /*  Presentation    */
  .presentation__title {
    font-size: 2rem;
  }
  .slogan {
    margin: 5% 5%;
    font-size: 1.2rem;
  }
  /*  Template    */
  .templateProduct__image {
    height: 10rem;
  }
  .templateProduct__image__product {
    width: 100% !important;
    height: 100% !important;
  }
  .templateProduct__title__product {
    height: 2rem;
    width: 100%;
    font-size: 1.4rem;
  }
  .templateProduct__description__product {
    width: 60%;
    font-size: 1.2rem;
    margin: 2% 8%;
  }
  .templateProduct__container {
    width: 40%;
    margin: 5%;
    height: 44rem;
  }
  .templateProduct__price {
    font-size: 1.4rem !important;
    margin: 2rem !important;
  }
  .templateProduct__price__product {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% !important;
    width: 12% !important;
    font-size: 1.5rem !important;
  }
  .templateProduct__option__product {
    margin: 0;
    width: 50%;
  }
  .templateProduct__quantite {
    width: 50%;
  }
  .templateProduct__link__add, .templateProduct__link__home {
    margin: 1rem;
    width: 20%;
  }
  .templateProduct__link__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .templateProduct__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/***************************************************************************/
/*==    Grand Desktop + 1400px   ==*/
@media (min-width: 1400px) {
  /*  Presentation    */
  .presentation__title {
    font-size: 2.5rem;
    margin: 0.5% 5%;
  }
  .slogan {
    font-size: 1.8rem;
  }
  /*  Template    */
  .templateProduct__image {
    width: 80% !important;
  }
  .templateProduct__container {
    height: 55rem;
  }
  .templateProduct__product {
    margin: 1% 8% !important;
  }
  .templateProduct__price {
    font-size: 1.8rem !important;
    margin: 1% !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0c5;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 5% 10%;
  width: 80%;
}

footer ul a {
  color: black;
  font-weight: 700;
}

.templateProduct, .containerPanier, .containerPanier__total {
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: black;
  background-color: #99E2D0;
  text-align: center;
  width: 25%;
  margin: 2.5%;
}

.templateProduct__image {
  overflow: hidden;
  padding-top: 14%;
  width: 70%;
}

body {
  display: block;
  font-family: "Gill Sans", sans-serif, "Roboto", sans-serif, "Helvetica Neue", sans-serif;
  margin: auto;
  max-width: 2048px;
}

a {
  text-decoration: none;
}

.templatePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

.templatePanier__message {
  text-align: center;
}

.containerPanier, .containerPanier__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 100%;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */