@mixin flex_row_center_text_align_center_align_items_center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin flex_row_space_around_text_align_center_align_items_center {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

@mixin flex_column_center_text_align_center_align_items_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@mixin flex_row_space_around {
    display: flex;
    justify-content: space-around;
}

@mixin flex_row_center {
    display: flex;
    justify-content: center;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

