/* Polices */
$police_titre: 'Fredoka One', cursive, 'Roboto', sans-serif;
$police_texte:'Gill Sans', sans-serif, 'Roboto', sans-serif, 'Helvetica Neue', sans-serif;

/*  Couleurs de la Charte    */
$primary-color: #f0f0c5;
$secondary-color: #f3f3f0;
$tertiary-color: #99E2D0;
$primary-color-secondary: white;

/*  Autres couleurs */
$couleur-clair: #F2F2F2;
$couleur-bouton: linear-gradient(180deg, rgba(243, 243, 240,1) 0%, rgba(240, 240, 197,1) 100%);

/*  Ombres  */


/*  Animations  */
$legeretransition: all 0.4s ease-out;

/*  Responsive Breakpoint  */

$big-smartphone: 420px;
$small-tablette: 600px;
$tablette: 768px;
$big-tablette: 1024px;
$desktop: 1248px;
$big-desktop: 1400px;

